<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478361809893-or8hfb99qb4gj9u5a8q1bfnikihmr8kn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478361809893-or8hfb99qb4gj9u5a8q1bfnikihmr8kn</string>
	<key>API_KEY</key>
	<string>AIzaSyBl34gfFx809tNEU45WWuExzn9oWUUSQxk</string>
	<key>GCM_SENDER_ID</key>
	<string>478361809893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myfinnapp</string>
	<key>PROJECT_ID</key>
	<string>myfinnapps</string>
	<key>STORAGE_BUCKET</key>
	<string>myfinnapps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478361809893:ios:8c57d5a8e5a21a2d5a750c</string>
</dict>
</plist>